@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai&family=Roboto:wght@500&display=swap");
* {
  font-family: "IBM Plex Sans Thai", sans-serif;
  font-family: "Roboto", sans-serif;
  color: #445964;
}
